@{
    ViewBag.Title = "Home Page";
}

<main style="display:flex; justify-content: center; align-items:center;">
    <img src="~/FFC logo.png" alt="Faraon Fitness Center" style="width:950px; height:580px;"/>
</main>